html, body, #root {
  height: 100%;
}

.popover > .popover-body {
  padding: 15px;
}

#login-form .form-row {
  margin: 10px 0px;
}

#login-form {
  position: absolute;
  top: .5rem !important;
  margin-top: 0;
}

#portal-panel {
  max-width: 500px;
  margin: 50px auto;
  background-color: white;
}

@media (min-width: 576px) {
  #portal-panel {
    padding: 1rem 2rem 1rem;
  }
}

#portal-name {
  font-weight: 300;
  margin: 0.5rem 0 1.5rem;
  font-size: 2rem;
  text-align: center;
}

#portal-panel > div {
  border: 1px solid #babebe;
  border-radius: .25rem;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(120,120,120,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(120,120,120,1);
  box-shadow: 2px 2px 5px 0px rgba(120,120,120,1);
}

#main-header {
  padding: 10px 15px;
  margin: 0;
}

#main-header > h4 {
  font-weight: 400;
  color: #818182;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#loading-overlay > .spinner-border {
  position: absolute;
  top: 40%;
  right: 50%;
}

#admin-dropdown > button {
  height: 46px;
  margin-right: 10px;
}

#admin-dropdown-menu {
  position: absolute;
  margin: 0;
  top: .125rem !important;
}

.modal-dialog {
  max-width: 600px;
}

#employee-form .col-form-label {
  text-align: right;
}

#toast {
  position: fixed;
  bottom: 10px;
  left: 10px;
  min-width: 350px;
  max-width: 500px;
  z-index: 1051;
}

#toast > div.toast-header {
  color: white;
  margin-bottom: 0;
}

#toast > div.toast-header.alert {
  background-color: rgba(255, 99, 99, 0.85);
}

#toast > div.toast-header.success {
  background-color: rgb(0, 255, 170);
}